<ion-content color="dark">
  <section class="sec-slider">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let items of dataImagesObj">
        <ion-row>
          <ion-col size="12" style="padding: 0px">
            <img [src]="items.url" alt="img" class="img" />
          </ion-col>
        </ion-row>
      </ion-slide>
    </ion-slides>
  </section>

  <section class="sec-inf">
    <div class="ion-padding" style="padding-top: 0px">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <p class="text">Become a Vegan</p>
            <h2 class="title">MasterChef 🥘</h2>
            <p class="text-one">
              Get recipies from the MasterChef 🥗 all <br />
              around the world to fullfill your cravings.
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>

  <section class="sec-btn">
    <div class="circle" [routerLink]="['/home']">
      <img src="./assets/icons/angle.svg" />
    </div>
  </section>
</ion-content>
