<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar mode="ios" color="dark">
    <ion-buttons slot="start">
      <img
        src="./assets/icons/left.svg"
        alt="img"
        class="back"
      /><ion-back-button color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="ion-padding">
    <section class="sec-inf">
      <ion-grid *ngIf="dataDetail">
        <ion-row>
          <ion-col size="12">
            <ion-card-header>
              <ion-card-subtitle>Detail</ion-card-subtitle>
              <ion-card-title class="title-card"
                >{{ dataDetail.title }}</ion-card-title
              >
            </ion-card-header>
            <ion-card>
              <img [src]="dataDetail.image" style="border-radius: 35px" />
              <ion-card-content>
                <ion-row>
                  <ion-col size="2">
                    <ion-avatar>
                      <img
                        src="https://image.shutterstock.com/image-vector/default-avatar-profile-icon-grey-260nw-518740753.jpg"
                        alt="img"
                      />
                    </ion-avatar>
                  </ion-col>
                  <ion-col size="10">
                    <h3 class="title-card-one">{{ dataDetail.creditsText }}</h3>
                    <p class="txt-card-date" *ngIf="dataDetail.vegan">
                      Product Vegan!
                    </p>
                    <p class="txt-card-date" *ngIf="!dataDetail.vegan">
                      Product not Vegan!
                    </p>
                    <section class="sec-add-recipe">
                      <ion-button
                        color="medium"
                        fill="outline"
                        class="btn-finished"
                        (click)="goFinishedRecipe(dataDetail)"
                      >
                        <img
                          src="./assets/images/groceries.png"
                          alt="img"
                          class="img"
                        />
                        Save recipe
                      </ion-button>
                    </section>
                  </ion-col>
                </ion-row>

                <p class="txt-card" [innerHTML]="dataDetail.instructions"></p>
                <p class="txt-card" [innerHTML]="dataDetail.summary"></p>
                <h3 class="heading-four">Ingredients:</h3>
                <ion-list style="border-radius: 20px; background: #222428;">
                  <ion-item
                    color="dark"
                    *ngFor="let items of dataDetail.extendedIngredients"
                  >
                    <ion-avatar>
                      <img
                        src="https://spoonacular.com/recipeImages/{{items.image}}"
                        *ngIf="items.image"
                      />
                    </ion-avatar>
                    <ion-label>
                      <h2 class="heading-two">{{ items.originalName }}</h2>
                      <p class="heading-three">{{ items.consistency }}</p>
                    </ion-label>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </section>

    <section class="sec-similar">
      <ion-row>
        <ion-col size="12">
          <h3 class="heading-four">Similar Recipes:</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-slides pager="false" [options]="slideOpts">
            <ion-slide *ngFor="let items of dataSimilar">
              <ion-row>
                <ion-col size="12">
                  <h3 class="title">
                    <img
                      src="./assets/icons/salad.png"
                      alt="img"
                      class="img-similar"
                      (click)="goToDetail(items)"
                    />
                    {{ items.title }} <br />
                    <a href="{{dataSimilar.sourceUrl}}" target="_blank">
                      visit website
                    </a>
                  </h3>
                </ion-col>
              </ion-row>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
    </section>
  </div>
</ion-content>
