<ion-menu side="end" menuId="first" contentId="main">
  <ion-content color="dark">
    <ion-list color="dark">
      <ion-item
        color="dark"
        class="menu-item"
        (click)="goAboutMe()"
        lines="none"
        ><img src="./assets/icons/user.svg" /><ion-label>About me</ion-label>
      </ion-item>
      <ion-item
        color="dark"
        class="menu-item"
        (click)="goFinishRecipe()"
        lines="none"
        ><img src="./assets/icons/chef.svg" /><ion-label
          >Saved recipes</ion-label
        >
      </ion-item>
      <ion-item color="dark" class="menu-item" (click)="goRandom()" lines="none"
        ><img src="./assets/icons/happy.svg" /><ion-label
          >Random food Joke</ion-label
        >
      </ion-item>
      <ion-item color="dark" class="menu-item" (click)="goTrivia()" lines="none"
        ><img src="./assets/icons/burger.svg" /><ion-label
          >Random food Trivia</ion-label
        >
      </ion-item>
      <ion-item color="dark" class="menu-item" (click)="goVideos()" lines="none"
        ><img src="./assets/icons/play.svg" /><ion-label>Videos</ion-label>
      </ion-item>

      <ion-item color="dark" class="menu-item" (click)="goExit()" lines="none"
        ><img src="./assets/icons/exit.svg" /><ion-label>Exit</ion-label>
      </ion-item>
    </ion-list>
    <ion-footer class="ion-no-border">
      <p class="title" style="color: #fff !important">
        Design by: @lirrumscode
      </p>
    </ion-footer>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>
<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-row>
      <ion-col size="3">
        <ion-menu-toggle>
          <img src="./assets/icons/apps.svg" class="icon-menu" />
        </ion-menu-toggle>
      </ion-col>
      <ion-col size="9">
        <div class="rectangule">
          <a href="https://spoonacular.com/food-api" target="_blank">
            <img src="./assets/images/groceries.png" alt="img" />
          </a>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
